.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}
